PORT=3000
MONGO_URI=mongodb://localhost:27017/translatetamon
LIBRETRANSLATE_URL=https://libretranslate.com/translate
LIBRETRANSLATE_API_KEY=
ADMIN_TOKEN=change_this_admin_token
MAX_UPLOAD_MB=100
REQUEST_BODY_LIMIT=25mb
